.testMargin {
    margin-bottom: 10rem;
}

.page-header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pfp {
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
}