.testMargin {
    margin-bottom: 10rem;
}

.page-header {
    display:grid;
    grid-template-columns: 1fr auto;
    padding: 2rem;
    gap:5rem;
    border-radius: 1rem;
    background-color: #0000000a;
    margin-left: 2rem;
    margin-right: 2rem;
}

.name{
    align-self: center;
    justify-self: right;
    font-size: 3.5rem;
    font-weight: 600;
}
.pfp {
    grid-column: 2;
    border-radius: 50%;
    width: 20rem;
    padding-right: 5rem;
}

.item-container {
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
    width:100%;
}

.work {
    background-color: #0000000a;
    width: 28%;
    border-radius: 1rem;
    padding: 1rem;
}

.work:last-child {
    padding-bottom: 1rem;
}

.work > h4,h6 {
    padding-top: 1rem;
}

.work > .item-container {
    padding: 0;
    margin: 0;
}

.work > .item-container > h6 {
    padding-top: 0.25rem;
}

@media (max-width: 1150px) {
    .work > .item-container {
    flex-direction: column;
}
}

.education {
    padding-top: 1rem;
}

.education > *:not(:first-child) {
    padding-top: 0.5rem;
}
