.app {
  position: relative;
  background-color: #1F4529;
}

.app-content {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-bottom: 3rem;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/